extends layout

block content
    h1 Login
    form(id="loginform", method="post")
        label Username
        input(type="text", name="name", value="Lukasz", size="50")
        input(type="submit", value="Log in")
